    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        background-color: #fff;
        color: #555;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-rendering: optimizeLegibility;
        color: #3e3c3cf5;
    }
    a{
        color: #3e3c3cf5;
    }

    .row{
        max-width: 1140px;
        margin: 0 auto;
    }

    header{
        background-image:linear-gradient(rgb(0 0 0 / 32%) , rgb(0 0 0 / 44%)), url(../imgs/persian-food/persian-cuisine.jpeg);
        background-size: cover;
        background-position: center;
        height: 100vh; 
    }

    .hero-text-box{
        position: fixed;
        top: 50%;
        left: 40%;
        transform:translate(-50%,-50%);
    }
    .hero-text-box .link{
        display: flex;
        align-items: center;
        justify-content: start;
    }

    h1{
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
        font-size: 50px;
        font-weight: 300;
        word-spacing: 4px;
        letter-spacing: 1px;
    }

    .btn:link,
    .btn:visited{
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
        border-radius: 200px;
        
    }

    .btn-full:link,
    .btn-full:visited{
        background-color:#e67e22;
        border: 1px solid #e67e22;
        color: #fff;
        margin-right: 15px;
    }

    .btn-ghost:link,
    .btn-ghost:visited{
       border: 1px solid #e67e22;
       color: #e67e22; 
    }

    .btn:hover,
    .btn:active{
        background-color: #b05d14;
        transition: background-color 0.2s, color 0.2s;
    }

    .btn-full:hover,
    .btn-full:active{
        border: 1px solid #b05d14;
    }

    .btn-ghost:hover,
    .btn-ghost:active{
       border: 1px solid #b05d14;
       color: #fff; 
    }

    @media only screen and (max-width: 787px){
        header{
            background-position-x: -131px;
        }

        h1{
            font-size: 47px;
        }

        .btn{
            padding: 9px 28px;
            font-size: 19px;
        }


    }

    @media only screen and (max-width: 787px){
        .btn {
            padding: 9px 22px!important;
            font-size: 17px;
        }
        h1 {
            font-size: 45px;
        }
        header{
            background-position-y: 1px;
            background-size: 56rem;
        }
    }

    @media only screen and (max-width: 768px){
        header{
            background-size: 78rem;
            background-position-y: 0px;
        }
    }

    @media only screen and (max-width: 414px){
        h1 {
            font-size: 34px!important;
        }
       .btn{
        padding: 7px 17px!important;
        font-size: 13px;
       }
       header {
        background-position-x: -161px;
        background-size: 62rem;
        background-position-y: 0px;
       }
    }

    @media only screen and (max-width: 375px){
        .btn {
            padding: 7px 12px!important;
        }
        h1 {
            font-size: 29px!important;
        }
    }

    @media only screen and (max-width: 360px){
        .btn {
            padding: 7px 9px!important;
            font-size: 12px;
        }
        
    }
    @media only screen and (max-width: 280px){
        header{
            background-size: 49rem;
            background-position-y: 1px;
        }
        .btn {
            padding: 5px 6px!important;
            font-size: 10px;
        }
        h1 {
            font-size: 21px!important;
        }
    }

    
